$light-gray:  #eeeeee;
$red-orange: #ff4e35;
$beige: #fcfaf6;
$brown: #a47c62;
$red: #cd331a;
$dark-green: #3d8a6f;
$green: #5a9325;
$berry: #890160;
$dark-brown: #894e3a;
$orange: #ff6525;
$yellow: #fbbe14;
$mustard-yellow: #ccae67;