//$iconSpritePath: asset-url('glyphicons-halflings.png', image);
//$iconWhiteSpritePath: asset-url("glyphicons-halflings-white.png", image);
@import "bootstrap-sprockets";
@import 'bootstrap';
@import "partials/colors";
@import "partials/forms";
@import "partials/tables";
@import "partials/content";

body{
  color: $brown;
}

.float-left{
  float:left;
}

.float-right{
  float:right;
}

.no-margin-bottom{
  margin-bottom: 0 !important;
}

.centered{
  text-align: center;
}


.img-lg{
  @media (max-width: $screen-md-max) {
    display: none;
  }
}

.lg-margin-bottom{
  margin-bottom: 160px;
  @media(max-width: $screen-md-max){
    margin-bottom: 20px;
  } 
}

#education-circles{
  display: none;
  @media (max-width: $screen-md-max){
    display: block;
  }

}
.circle{
  border-radius: 50%;
  margin: auto;
  width: 400px;
  height: 400px;
  background-color: darken($beige,2%);
  padding: 100px 50px;
  margin-bottom: 20px;
  h3{
    font-weight: bold;
    color: $red-orange;
  }
}
